astroid==2.14.2
autopep8==1.5.5
dill==0.3.6
flake8==3.8.4
isort==5.12.0
jedi==0.17.2
lazy-object-proxy==1.9.0
mccabe==0.6.1
packaging==23.0
parso==0.7.1
platformdirs==3.0.0
pluggy==1.0.0
pycairo==1.23.0
pycodestyle==2.6.0
pydocstyle==6.3.0
pyflakes==2.2.0
PyGObject==3.42.2
pylint==2.16.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytoolconfig==1.2.5
rope==1.7.0
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
ujson==5.7.0
wrapt==1.14.1
yapf==0.32.0
