#gif-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin-top: 20vh;
}

img {
    width: 100%;
    height: auto;
    flex: 1 0 150px;
    margin: 15px 10px;
    overflow: hidden;
    opacity: 0.5;
    flex-shrink: 0;
    border-radius: 40px;
    transition: 0.2s linear;
    cursor: pointer;
}
img:hover {
    opacity: 1;
}

#clear-api-btn {
    padding: 5px;
    margin-top: 10px;
    background-color: #fff;
    border: 0;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.2s linear;
    border: 1px solid #fff;
    color: #444444;
}

#clear-api-btn:hover {
    background-color: #bbb;
    border: 1px solid #444444;
    color: #444444;
}

#message-box {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    text-align: center;
    padding: 10px;
    top: 90%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    border-radius: 17px;
    transition: 0.2s ease-out;
}

#message-box.active {
    opacity: 1;
    transition: 0.2s ease-in;
}
